/* colores */
$text-color2: rgb(100, 100, 117);
$text-color1: black;

/* tamaño de letra */
$text-size1: 40px;
$text-size2: 30px;

/* font family */
$font-principal: 'Edu VIC WA NT Beginner', cursive;
